<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e6397018-5c21-4e88-9696-2c477b14520b" Publisher="CN=balaji" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TravelDarkTheme</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TravelDarkTheme.App">
      <VisualElements DisplayName="TravelDarkTheme" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TravelDarkTheme" ForegroundText="light" BackgroundColor="#242424">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\widelogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>