.SpokePage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

.SpokePage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
    .SpokePage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 55px;
        margin-left: 45px;
        margin-right: 115px;
        margin-top: 125px;
    }

    .SpokePage .groupeditemslist .win-groupheader {
        padding: 0;
    }

    /* Use grid and top level layout for truncation */
    .SpokePage .groupeditemslist .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }

    /* Override default button styles */
    .SpokePage .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        min-height: 0;
        padding: 0;
    }

        .SpokePage .groupeditemslist .group-header .group-title {
            display: inline-block;
            font-size: 28px;
            color: #ffa800;
        }

        .SpokePage .groupeditemslist .group-header .group-chevron {
            -ms-grid-column: 3;
            display: inline-block;
            font-size: 28px;
            color: #ffa800;
        }

            .SpokePage .groupeditemslist .group-header .group-chevron::before {
                content: "\E26B";
                font-family: 'Segoe UI Symbol';
            }

    .SpokePage .groupeditemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
    }

        .SpokePage .groupeditemslist .item .item-image {
            -ms-grid-row-span: 2;
        }

        .SpokePage .groupeditemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .SpokePage .groupeditemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .SpokePage .groupeditemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .SpokePage .groupeditemslist .item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .SpokePage .groupeditemslist .item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .SpokePage .groupeditemslist .item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .SpokePage .groupeditemslist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .SpokePage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .SpokePage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .SpokePage .groupeditemslist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
        padding: 7px;
    }

    .SpokePage .groupeditemslist .item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .SpokePage .groupeditemslist .item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .SpokePage .groupeditemslist .item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .SpokePage .groupeditemslist .item .item-overlay .item-title {
                margin-top: 4px;
                max-height: 40px;
                width: 202px;
            }

            .SpokePage .groupeditemslist .item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }

    #MainDiv {
        display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .SpokePage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
    }
}

/*Variable tiles*/

.SpokePage .BigTemplate {
    width: 575px;
    height: 523px;
    background-color: #242424;
}

    .SpokePage .BigTemplate .BigImage {
        width: 580px;
        height: 470px;
    }

    .SpokePage .BigTemplate .BigTitle {
        color: #ffffff;
        font-size: 18.6px;
        font-family: 'Segoe UI';
        font-weight: 600;
    }

    .SpokePage .BigTemplate .BigSubtitle {
        color: rgba(255,255,255,0.50);
        font-size: 13.33px;
        font-family: 'Segoe UI';
        font-weight: 400;
    }

.SpokePage .MediumTemplate {
    width: 287px;
    height: 253px;
    background-color: #242424;
}

    .SpokePage .MediumTemplate .MediumImage {
        width: 287px;
        height: 200px;
    }

    .SpokePage .MediumTemplate .MediumTitle {
        color: #ffffff;
        font-size: 18.6px;
        font-family: 'Segoe UI';
        font-weight: 600;
    }

    .SpokePage .MediumTemplate .MediumSubtitle {
        color: rgba(255,255,255,0.50);
        font-size: 13.33px;
        font-family: 'Segoe UI';
        font-weight: 400;
    }

.SpokePage .SmallTemplate {
    width: 177px;
    height: 165px;
    background-color: #242424;
}

    .SpokePage .SmallTemplate .SmallImage {
        width: 177px;
        height: 117px;
    }

    .SpokePage .SmallTemplate .SmallTitle {
        color: #ffffff;
        font-size: 18.6px;
        font-family: 'Segoe UI';
        font-weight: 600;
    }

    .SpokePage .SmallTemplate .SmallSubtitle {
        color: rgba(255,255,255,0.50);
        font-size: 13.33px;
        font-family: 'Segoe UI';
        font-weight: 400;
    }

.AppBar {
    background-color: rgba(212,141,9,0.9);
    height: 115px;
}

.AppBtn2 {
    width: 92px;
    float: left;
    height: 92px;
    margin-left: 10px;
}

.AppBtn3 {
    width: 90px;
    float: left;
    height: 73px;
}

.win-commandring, button:active .win-commandring {
    background-color: transparent;
    border: none;
}

button:hover .win-commandring {
    background: none;
    border: none;
}

button:hover:active .win-commandring {
    background: none;
    border: none;
}


.win-horizontal.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}

.win-vertical.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}
